<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- New changes for commit -->
<!-- Logo in beginning to emphasize school I am in -->
<img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt = "Smith Logo">
    <h1>About Me</h1>
    <p>Hello my name is <em>Jeff</em> and I am currently attending the <strong>University of Maryland</strong>
    <br>I hope that you like this <em>About Me</em> Page</p>
        <h2>Major</h2>
            <p>Information System and Finance</p>
        <h2>Grade</h2>
            <p>Junior</p>
<!-- Start of two lists showing interests then favorite classes -->
<h2><strong>Interests:</strong></h2>
<ul>
    <li>Chess</li>
    <li>Gym</li>
    <li>Videogames</li>
</ul>
<h2><strong>Favorite Classes:</strong></h2>
    <ol>
        <li>BMGT407</li>
        <li>BMGT404</li>
        <li>BMGT347</li>
    </ol>
<table>
    <tr>
        <th><strong>Course</strong></th>
        <th><strong>Semester Taken</strong></th>
    </tr>
    <tr>
        <td>BMGT380</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>BMGT332</td>
        <td>Spring 2022</td>
    </tr>
</table>

    <a href="/hello">Link to hello page</a>
<!-- Another heading to emphasize my favorite websites -->
<h2>My Two Favorite Sites:</h2>
<ul>
    <li><a href = "https://www.rhsmith.umd.edu/" target = "_blank">School Website</a></li>
    <li><a href = "https://elms.umd.edu/">ELMS Canvas</a></li>
</ul>
<!-- Use ID special for a thank you note to make it different than other paragraphs -->
<p id="special">
    Thank you for visiting my website about me. I hope you learned a lot!
</p>
<p class="smaller">
    @ Copyright 2024
</p>
</body>
</html>